img {
    max-width: 100%; 
    height: auto; 
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    text-transform: none;
}

th {
    background-color: #333A40; 
    padding: 8px;
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    color: #FFFFFF; 
    text-align: left;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #000000; 
}

.table {
    width: 100%;
}
  
.table td {
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    background-clip: padding-box; 
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}

/* Estilos para eliminar la sombra y la línea del último td */
.table tr:last-child td {
    border-bottom: none;
    box-shadow: none;
  }

tbody td {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    padding: 8px;
}

tbody td#id {
    font-weight: bold; /* Esto aplicará el estilo en negrita al texto */
}
